# Nurse scheduling-Copy1

http://www.schedulingbenchmarks.org/nrp/data/

In [1]:
import pandas as pd
import numpy as np

import random
import time

from tqdm import tqdm, trange

In [2]:
dirpath = 'C:/ML/nurse scheduling/Instance'
instance = 3

In [3]:
sections = ['SECTION_HORIZON', 'SECTION_SHIFTS', 'SECTION_STAFF', 'SECTION_DAYS_OFF', 'SECTION_SHIFT_ON_REQUESTS', 
            'SECTION_SHIFT_OFF_REQUESTS', 'SECTION_COVER']

In [4]:
filename = dirpath+str(instance)+'/instance'+str(instance)+'.txt'
print(filename)

with open(filename, 'r') as file1:
    Lines = file1.readlines()
#print(len(Lines))
    
lines = []

# # Strips the newline character
for line in Lines:
    lines.append(line.strip())
        
#lines

C:/ML/nurse scheduling/Instance3/instance3.txt

In [5]:
def read_section_horizon(lines):
    
    sl = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_HORIZON':
            break
    
    i+= 1
    #print(i)
    
    while(lines[i] != ''):
        if lines[i][0] == '#':
            pass
        else:
            sl = lines[i]
        i += 1
    return int(sl)

n_days = read_section_horizon(lines)
n_days

14

In [6]:
def read_section_shifts(lines):
    
    sl = -1
    sss = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_SHIFTS':
            sss = i
            break
    
    cols = lines[sss+1][2:].split(',')
    i+= 2
    #print(i)
    
    df = pd.DataFrame(columns=cols)
    
    while(lines[i] != ''):
        #if lines[i][0] == '#':
        l = list(lines[i].split(','))
        
        dct = {}
        for j in range(len(cols)):
            if j < len(cols)-1:
                dct[cols[j]] = l[j]
            else:
                dct[cols[j]] = list(l[j].split('|'))
            
        #print(dct)
        df = df.append(dct, ignore_index=True)
        i += 1
        
        
    # add an 'off' shift to the shifts dataframe with zero minutes duration
    df = df.append({ 'ShiftID': '-', ' Length in mins': 0 , ' Shifts which cannot follow this shift | separated': []}, 
                   ignore_index=True)
    #print('shifts', df.shape)

    return df, df.values, len(df), list(df['ShiftID'])

shifts, shifts_arr, n_shifts, s_list = read_section_shifts(lines)
shifts

  ShiftID  Length in mins  Shifts which cannot follow this shift | separated
0       E             480                                                 []
1       D             480                                                [E]
2       L             480                                             [E, D]
3       -               0                                                 []

In [7]:
shifts_arr

array([['E', '480', list([''])],
       ['D', '480', list(['E'])],
       ['L', '480', list(['E', 'D'])],
       ['-', 0, list([])]], dtype=object)

In [8]:
n_shifts

4

In [9]:
def read_section_staff(lines):
    
    sl = -1
    sss = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_STAFF':
            sss = i
            break
            
    cols = lines[sss+1][2:].split(',')
    i+= 2
    #print(i)
    
    df = pd.DataFrame(columns=cols)
    
    while(lines[i] != ''):
        #if lines[i][0] == '#':
        l = list(lines[i].split(','))
        
        dct = {}
        for j in range(len(cols)):
            if j  == 1:
                dct[cols[j]] = list(l[j].split('|'))
            else:
                dct[cols[j]] = l[j]
                
            
        #print(dct)
        df = df.append(dct, ignore_index=True)
        i += 1
        
    return df, df.values, len(df), list(df['ID'])
    
staff, staff_arr, n_nurses, n_list = read_section_staff(lines)
staff

,ID,MaxShifts,MaxTotalMinutes,MinTotalMinutes,MaxConsecutiveShifts,MinConsecutiveShifts,MinConsecutiveDaysOff,MaxWeekends
0,A,"[E=14, D=14, L=0]",4320,3360,5,2,2,1
1,B,"[E=14, D=14, L=5]",4320,3360,5,2,2,1
2,C,"[E=14, D=14, L=5]",4320,3360,5,2,2,1
3,D,"[E=14, D=0, L=5]",4320,3360,5,2,2,1
4,E,"[E=14, D=0, L=0]",4320,3360,5,2,2,1
5,F,"[E=14, D=14, L=0]",4320,3360,5,2,2,1
6,G,"[E=14, D=14, L=5]",4320,3360,5,2,2,1
7,H,"[E=14, D=14, L=5]",4320,3360,5,2,2,1
8,I,"[E=14, D=14, L=5]",4320,3360,5,2,2,1
9,J,"[E=14, D=14, L=0]",4320,3360,5,2,2,1
10,K,"[E=14, D=14, L=0]",4320,3360,6,2,3,1
11,L,"[E=0, D=14, L=5]",4320,3360,6,2,3,1
12,M,"[E=14, D=14, L=5]",4320,3360,6,2,3,1
13,N,"[E=0, D=14, L=5]",4320,3360,6,2,3,1
14,O,"[E=0, D=14, L=5]",4320,3360,6,2,3,1
15,P,"[E=14, D=14, L=2]",2160,1200,5,1,2,1
16,Q,"[E=0, D=14, L=2]",2160,1200,5,1,2,1
17,R,"[E=14, D=14, L=0]",2160,1200,5,1,2,1
18,S,"[E=14, D=0, L=2]",2160,1200,5,1,2,1
19,T,"[E=14, D=14, L=0]",2160,1200,5,1,2,1

In [10]:
n_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T']

In [11]:
solution = np.zeros(shape=(n_nurses, n_days), dtype=np.int64)

In [12]:
def read_section_days_off(lines):
    
    sl = -1
    sss = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_DAYS_OFF':
            sss = i
            break
    
    cols = lines[sss+1].split(',')
    i+= 2
    #print(i)
    
    df = pd.DataFrame(columns=cols)
    
    dct = {}
    while(lines[i] != ''):
        l = list(lines[i].split(','))
        
        dct[cols[0]] = l[0]
        dct[cols[1]] = list(l[1:])

        #print(dct)
        df = df.append(dct, ignore_index=True)
        i += 1

    return df

days_off = read_section_days_off(lines)
days_off

   # EmployeeID  DayIndexes (start at zero)
0             A                         [0]
1             B                         [6]
2             C                         [1]
3             D                         [0]
4             E                         [3]
5             F                         [0]
6             G                         [4]
7             H                        [12]
8             I                         [6]
9             J                         [2]
10            K                         [4]
11            L                         [4]
12            M                         [1]
13            N                         [8]
14            O                         [3]
15            P                         [2]
16            Q                         [6]
17            R                         [1]
18            S                         [8]
19            T                        [11]

In [13]:
def read_section_shift_on_requests(lines):
    
    sl = -1
    sss = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_SHIFT_ON_REQUESTS':
            sss = i
            break
    
    cols = lines[sss+1].split(',')
    i+= 2
    #print(i)
    
    df = pd.DataFrame(columns=cols)
    
    dct = {}
    while(lines[i] != ''):
        l = list(lines[i].split(','))
        for j in range(len(l)):
            dct[cols[j]] = l[j]
        

        #print(dct)
        df = df.append(dct, ignore_index=True)
        i += 1

    return df

shift_on_requests = read_section_shift_on_requests(lines)
shift_on_requests

   # EmployeeID  Day  ShiftID  Weight
0             B    0        D       1
1             B    1        D       1
2             B    2        D       1
3             B    3        D       1
4             B    4        D       1
5             D    7        E       2
6             D    8        E       2
7             D   12        E       2
8             D   13        E       2
9             F    8        E       2
10            F   12        D       3
11            F   13        D       3
12            G   10        L       2
13            G   11        L       2
14            H    2        E       1
15            H    3        E       1
16            I    0        D       2
17            I    1        D       2
18            I    2        D       2
19            J    8        D       2
20            J    9        D       2
21            K    6        D       3
22            K    7        D       3
23            K    8        D       3
24            K    9        D       3
25            K   10        D       3
26            L    8        L       2
27            N    3        L       1
28            N    4        L       1
29            N    5        L       1
30            N    6        L       1
31            O    5        D       1
32            O    6        D       1
33            O    7        D       1
34            S    1        E       3
35            S    6        E       2
36            S    7        E       2
37            T    3        E       3
38            T    4        E       3

In [14]:
def read_section_shift_off_requests(lines):
    
    sl = -1
    sss = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_SHIFT_OFF_REQUESTS':
            sss = i
            break
    
    cols = lines[sss+1].split(',')
    i+= 2
    #print(i)
    
    df = pd.DataFrame(columns=cols)
    
    dct = {}
    while(lines[i] != ''):
        l = list(lines[i].split(','))
        for j in range(len(l)):
            dct[cols[j]] = l[j]
        

        #print(dct)
        df = df.append(dct, ignore_index=True)
        i += 1

    return df

shift_off_requests = read_section_shift_off_requests(lines)
shift_off_requests

   # EmployeeID  Day  ShiftID  Weight
0             A    9        E       2
1             A   10        E       2
2             A   11        E       2
3             A   12        E       2
4             A   13        E       2
5             C    2        L       3
6             H    7        E       2
7             H    8        E       2
8             H    9        E       2
9             H   10        E       2
10            M    3        E       2
11            M    4        E       2
12            M    5        E       2
13            M    6        E       2
14            M    7        E       2
15            O   13        D       3
16            P    5        L       3
17            P    6        L       3
18            P    7        L       3
19            P    8        L       3
20            Q    1        D       3
21            Q    2        D       3
22            Q    3        D       3
23            Q    4        D       3
24            Q    5        D       3

In [15]:
def read_section_cover(lines):
    
    sl = -1
    sss = -1
    
    for i in range(len(lines)):
        if lines[i] == 'SECTION_COVER':
            sss = i
            break
    
    cols = lines[sss+1].split(',')
    i+= 2
    #print(i)
    
    df = pd.DataFrame(columns=cols)
    
    dct = {}
    for k in range(i, len(lines)):
        l = list(lines[k].split(','))
        for j in range(len(l)):
            dct[cols[j]] = l[j]
        

        #print(dct)
        df = df.append(dct, ignore_index=True)

    return df, df.values

cover, cover_arr = read_section_cover(lines)
cover

   # Day  ShiftID  Requirement  Weight for under  Weight for over
0      0        E            2               100                1
1      0        D            3               100                1
2      0        L            3               100                1
3      1        E            3               100                1
4      1        D            4               100                1
5      1        L            3               100                1
6      2        E            3               100                1
7      2        D            5               100                1
8      2        L            3               100                1
9      3        E            4               100                1
10     3        D            5               100                1
11     3        L            2               100                1
12     4        E            2               100                1
13     4        D            5               100                1
14     4        L            4               100                1
15     5        E            4               100                1
16     5        D            6               100                1
17     5        L            2               100                1
18     6        E            6               100                1
19     6        D            5               100                1
20     6        L            3               100                1
21     7        E            4               100                1
22     7        D            6               100                1
23     7        L            3               100                1
24     8        E            3               100                1
25     8        D            4               100                1
26     8        L            2               100                1
27     9        E            4               100                1
28     9        D            5               100                1
29     9        L            4               100                1
30    10        E            2               100                1
31    10        D            5               100                1
32    10        L            2               100                1
33    11        E            2               100                1
34    11        D            3               100                1
35    11        L            4               100                1
36    12        E            2               100                1
37    12        D            6               100                1
38    12        L            5               100                1
39    13        E            3               100                1
40    13        D            5               100                1
41    13        L            3               100                1

In [16]:
create = 'random'

def get_allowed_shifts(n, d):
    
    verbose = 0
    
    max_shift_int = len(shifts_arr)-1
    
    not_allowed = []
    allowed = s_list.copy()
    if '' in allowed:
        allowed.remove('')
        
    max_consecutive = int(staff_arr[n,4])
    min_consecutive = int(staff_arr[n,5])
    count_consecutive = 0
    
    #
    if create == 'allowed':
        
        # shifts followed by
        if d > 0:
            if verbose:
                print('yesterday', s_list[solution[n,(d-1)]])

            # get the shifts that are not allowed given yesterdays assignment
            not_allowed = shifts_arr[solution[n,(d-1)], 2]
            if '' in not_allowed:
                not_allowed.remove('')
            if verbose:
                print('not_allowed', not_allowed)

            for x in not_allowed:
                if x != '':
                    allowed.remove(x)
            if verbose:
                print('allowed', allowed)

            # max consecutive shifts constraints - count number of days working a shift, if >= the amount allowed, then off becomes the only option   
            count_consecutive = 0
            for i in range(d-max_consecutive, d):
                if i >= 0:
                    if solution[n,i] < max_shift_int:
                        count_consecutive += 1
            if count_consecutive >= max_consecutive:
                allowed = ['-']
            if verbose:
                print('count_consecutive', count_consecutive)
                print('max_consecutive', max_consecutive)
                print('allowed', allowed)

            # min consecutive shifts constraints      
            count_consecutive = 0
            for i in range(d-min_consecutive, d):
                if i >= 0:
                    if solution[n,i] < max_shift_int:
                        count_consecutive += 1
            if count_consecutive <= min_consecutive:
                allowed.remove('-')
            if verbose:
                print('count_consecutive', count_consecutive)
                print('min_consecutive', min_consecutive)
                print('allowed', allowed)
        
    
    
    allowed_shifts=[]
    for a in allowed:
        allowed_shifts.append(s_list.index(a))
    
#     print('yesterday', s_list[solution[n,(d-1)]], '\n',
#           'not_allowed', not_allowed, '\n',
#           'allowed', allowed, '\n',
#           'count_consecutive', count_consecutive, '\n',
#           'max_consecutive', max_consecutive, '\n',
#           'min_consecutive', min_consecutive, '\n',
#           'allowed_shifts', allowed_shifts)
    
    return allowed_shifts

x = get_allowed_shifts(9,0)
print(x)

[0, 1, 2, 3]

In [17]:




# if create == 'random':
#     i = 0
#     for n in range(n_nurses):
#         for d in range(n_days):
#             solution[n, d] = random.randint(0, n_shifts-1)
        
# elif create == 'allowed':
#     i = 0
for n in range(n_nurses):
    for d in range(n_days):
        allowed = get_allowed_shifts(n,d)
        solution[n, d] = allowed[np.random.randint(0, len(allowed))]

# else:
#     print('no initialisation type selected')
    
print(solution.shape)

solution

(20, 14)

array([[0, 0, 3, 0, 2, 1, 3, 2, 1, 2, 0, 1, 2, 3],
       [1, 0, 0, 2, 3, 0, 0, 0, 2, 0, 1, 1, 3, 3],
       [0, 1, 3, 2, 0, 0, 3, 1, 0, 1, 0, 0, 1, 3],
       [1, 1, 2, 3, 3, 1, 2, 3, 0, 3, 1, 3, 3, 2],
       [1, 1, 3, 3, 1, 0, 3, 1, 2, 3, 1, 1, 1, 0],
       [1, 3, 2, 1, 0, 3, 0, 0, 1, 2, 2, 1, 0, 2],
       [2, 0, 3, 2, 3, 2, 0, 0, 1, 0, 1, 0, 1, 2],
       [0, 3, 3, 2, 1, 0, 3, 1, 0, 1, 1, 0, 2, 1],
       [2, 1, 2, 3, 2, 2, 0, 0, 0, 3, 3, 3, 1, 2],
       [2, 0, 2, 1, 3, 2, 3, 3, 3, 0, 3, 1, 3, 1],
       [1, 3, 3, 2, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0],
       [2, 3, 2, 2, 1, 0, 2, 1, 0, 3, 1, 1, 0, 2],
       [3, 2, 0, 2, 2, 0, 1, 1, 2, 3, 0, 2, 0, 3],
       [3, 3, 0, 3, 0, 3, 3, 0, 0, 1, 1, 3, 3, 3],
       [1, 2, 2, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 2],
       [3, 0, 0, 2, 2, 1, 1, 0, 3, 3, 1, 3, 0, 0],
       [2, 0, 1, 1, 2, 2, 0, 0, 0, 0, 3, 3, 2, 3],
       [0, 1, 0, 1, 2, 3, 1, 0, 2, 1, 1, 2, 3, 1],
       [0, 0, 0, 2, 2, 3, 0, 3, 0, 3, 3, 1, 2, 0],
       [2, 0, 0, 2, 3, 0, 3, 3, 3, 3, 3, 3, 0, 2]], dtype=int64)

In [18]:
def get_nurse_number(n):
    return n_list.index(n)

get_nurse_number('F')

5

In [19]:
type(solution)

numpy.ndarray

In [20]:
def evaluate_staff_shifts():
    
    staff_shifts_cost = 0
    
    for n in range(len(staff)):
        #print('nurse', n)
        shift_counts = [0] * len(s_list)
        for ms in range(len(staff_arr[n, 1])):
            #print(staff.iloc[n, 1][ms])
            #print(staff.iloc[n, 1][ms][0])
            #print(staff.iloc[n, 1][ms][2:])

            shift_counts[s_list.index(staff_arr[n, 1][ms][0])] = int(staff_arr[n, 1][ms][2:])
        #print(shift_counts) 
    
        for d in range(n_days):
            shift_counts[solution[n,d]] -= 1
        
        # we don't care about the 'off' shift
        for ss in range(len(shift_counts)-1):
            if shift_counts[ss] < 0:
                staff_shifts_cost += np.abs(shift_counts[ss]) * int(shifts_arr[ss, 1])
    
    return staff_shifts_cost

evaluate_staff_shifts()

25920

In [21]:
def get_nurse_minutes(n):
    
    nurse_minutes = 0
        
    for d in range(n_days):
        nurse_minutes += int(shifts_arr[solution[n,d], 1])
        
    return nurse_minutes

def evaluate_nurse_minutes():
    
    nurse_cost = 0
    
    for n in range(n_nurses):
        
        nurse_minutes = get_nurse_minutes(n)
    
        if nurse_minutes > int(staff_arr[n, 2]):
            nurse_cost += nurse_minutes - int(staff_arr[n, 2])
        if nurse_minutes < int(staff_arr[n, 3]):
            nurse_cost += int(staff_arr[n, 3]) - nurse_minutes
            
        #print(n, nurse_minutes, nurse_cost)
        
    return nurse_cost
        
evaluate_nurse_minutes()

26640

In [22]:
def evaluate_shift_cover():

    # evaluate solution
    shift_cover_costs = 0

    # initially use df but shift to array later
    for sc in range(len(cover_arr)):

        shifts_count = 0
        #print(cover_arr[sc, 0])

        for d in range(n_days):
            if d == int(cover_arr[sc, 0]):

                #print(cover_arr[sc, :])

                for n in range(n_nurses):
                    if solution[n,d] == s_list.index(cover_arr[sc, 1]):
                        shifts_count += 1

                #print(d, cover_arr[sc, 0], cover_arr[sc, 1], s_list.index(cover_arr[sc, 1]), int(cover_arr[sc, 2]), shifts_count)

                if shifts_count < int(cover_arr[sc, 2]):
                    shift_cover_costs += (int(cover_arr[sc, 2]) - shifts_count) * int(cover_arr[sc, 3])
                if shifts_count > int(cover_arr[sc, 2]):
                    shift_cover_costs += (shifts_count - int(cover_arr[sc, 2])) * int(cover_arr[sc, 4])

    return shift_cover_costs      
        
evaluate_shift_cover()

2679

In [23]:
# run a parallel set of scores for the hard constraints
def evaluate_required_shifts():
    
    disallowed = 0
    
    max_shift_int = len(shifts_arr)-1

    allowed = s_list.copy()
    
    verbose = False
    
    for n in range(n_nurses):
        for d in range(n_days):
            max_consecutive = int(staff_arr[n,4])
            min_consecutive = int(staff_arr[n,5])
            count_consecutive = 0
    
            # shifts followed by
            if d > 0:
                if verbose:
                    print('yesterday', s_list[solution[n,(d-1)]])

                # get the shifts that are not allowed given yesterdays assignment
                not_allowed = shifts_arr[solution[n,(d-1)], 2]
                if '' in not_allowed:
                    not_allowed.remove('')
                if verbose:
                    print('not_allowed', not_allowed)

                for x in not_allowed:
                    if x != '':
                        if x in allowed:
                            allowed.remove(x)
                #if verbose:
                  #  print('allowed', allowed)

                # max consecutive shifts constraints - count number of days working a shift, if >= the amount allowed, then off becomes the only option   
                count_consecutive = 0
                for i in range(d-max_consecutive, d):
                    if i >= 0:
                        if solution[n,i] < max_shift_int:
                            count_consecutive += 1
                if count_consecutive >= max_consecutive:
                    allowed = ['-']
                if verbose:
                    print('count_consecutive', count_consecutive)
                    print('max_consecutive', max_consecutive)
                    print('allowed', allowed)

                # min consecutive shifts constraints      
                count_consecutive = 0
                for i in range(d-min_consecutive, d):
                    if i >= 0:
                        if solution[n,i] < max_shift_int:
                            count_consecutive += 1
                if count_consecutive <= min_consecutive:
                    if '-' in allowed:
                        allowed.remove('-')
                if verbose:
                    print('count_consecutive', count_consecutive)
                    print('min_consecutive', min_consecutive)
                    print('allowed', allowed)    
                    
                allowed_shifts = []
                for a in allowed:
                    allowed_shifts.append(s_list.index(a))
                    
                if solution[n,d] not in allowed_shifts:
                    disallowed += 1
                    
    return disallowed
    
d = evaluate_required_shifts()
d

255

In [24]:
def evaluate_solution():

    return evaluate_shift_cover() + evaluate_nurse_minutes() + evaluate_staff_shifts(), evaluate_required_shifts()

evaluate_solution()

(55239, 255)

In [25]:
def local_search():
    
    best_score = evaluate_solution()
    
    change = 1
    while(change == 1):
        change = 0
        for n in range(n_nurses):
            for d in range(n_days):
                
                allowed_shifts = get_allowed_shifts(n,d)
                #allowed_shifts = s_list[np.random.randint(0, len(s_list))] 
                
                for s in allowed_shifts:
                    
                    if s != solution[n,d]:
                        old_shift = solution[n,d]
                        solution[n,d] = s

                        new_score = evaluate_solution()

                        
                        if new_score[0] < best_score[0] and new_score[1] == best_score[1]:
                            best_score = new_score
                            change = 1
                        elif new_score[0] == best_score[0] and new_score[1] < best_score[1]:
                            best_score = new_score
                            change = 1
                        else:
                            solution[n,d] = old_shift
                        
    #print(best_score)
    

local_search()
evaluate_solution()

(400, 253)

In [26]:
type(solution)

numpy.ndarray

In [27]:
ITERS = 50
PERTURB = int(n_nurses * n_days * 0.55)

def iterated_local_search(solution):
    
    local_search()
    best_score = evaluate_solution()
    best_solution = solution.copy(order='C')
    
    for iter in trange(ITERS):
        
        for p in range(PERTURB):
            n = np.random.randint(0, n_nurses)
            d = np.random.randint(0, n_days)
            solution[n,d] = np.random.randint(0, n_shifts)
    
        local_search()
        new_score = evaluate_solution()

        if new_score[0] < best_score[0] and new_score[1] == best_score[1]:
            best_score = new_score
            change = 1
        elif new_score[0] >= best_score[0] and new_score[1] < best_score[1]:
            best_score = new_score
            change = 1
        else:
            solution = best_solution.copy()
            
        print(iter, best_score)   
        
iterated_local_search(solution)

0 (680, 248)
1 (1640, 247)
2 (1640, 247)
3 (1640, 247)
4 (1640, 247)
5 (1640, 247)
6 (1640, 247)
7 (1640, 247)
8 (1640, 247)
9 (1640, 247)
10 (1640, 247)
11 (1640, 247)
12 (1640, 247)
13 (1640, 247)
14 (1640, 247)
15 (1640, 247)
16 (1640, 247)
17 (1640, 247)
18 (1640, 247)
19 (1640, 247)
20 (1640, 247)
21 (1640, 247)
22 (1640, 247)
23 (1640, 247)
24 (1640, 247)
25 (1640, 247)
26 (1640, 247)
27 (1640, 247)
28 (1640, 247)
29 (1640, 247)
30 (1640, 247)
31 (1640, 247)
32 (1640, 247)
33 (1640, 247)
34 (1640, 247)
35 (1640, 247)
36 (1640, 247)
37 (1640, 247)
38 (1640, 247)
39 (1640, 247)
40 (1640, 247)
41 (1640, 247)
42 (1640, 247)
43 (1640, 247)
44 (1640, 247)
45 (1640, 247)
46 (1640, 247)
47 (1640, 247)
48 (1640, 247)
49 (1640, 247)

In [28]:
solution

array([[1, 1, 0, 3, 0, 1, 1, 3, 3, 0, 1, 3, 3, 1],
       [0, 0, 1, 2, 2, 3, 3, 2, 1, 0, 3, 3, 3, 0],
       [3, 2, 1, 3, 1, 0, 0, 2, 1, 1, 3, 3, 1, 3],
       [3, 2, 2, 0, 3, 0, 3, 0, 3, 0, 2, 2, 3, 2],
       [3, 3, 0, 3, 3, 0, 0, 0, 3, 3, 0, 0, 0, 3],
       [3, 0, 1, 0, 1, 1, 1, 1, 3, 1, 3, 3, 1, 3],
       [2, 3, 1, 3, 1, 1, 2, 3, 3, 2, 3, 1, 1, 0],
       [3, 3, 3, 1, 2, 2, 0, 1, 1, 1, 3, 0, 1, 3],
       [2, 0, 3, 0, 3, 0, 1, 1, 1, 3, 3, 3, 2, 2],
       [1, 3, 3, 1, 3, 1, 0, 1, 0, 3, 3, 1, 1, 1],
       [3, 3, 3, 1, 3, 3, 0, 1, 0, 0, 1, 1, 1, 1],
       [3, 1, 2, 1, 1, 1, 2, 3, 3, 2, 1, 2, 3, 3],
       [2, 1, 2, 0, 1, 3, 1, 3, 3, 3, 1, 3, 2, 2],
       [3, 1, 3, 3, 2, 2, 1, 2, 3, 1, 3, 2, 2, 3],
       [1, 2, 1, 2, 2, 3, 2, 1, 3, 2, 3, 3, 3, 1],
       [3, 3, 0, 1, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3],
       [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 1],
       [3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 0, 0],
       [3, 3, 3, 3, 3, 3, 0, 0, 0, 3, 0, 3, 3, 3],
       [0, 3, 3, 3, 0, 1, 3, 0, 3, 3, 3, 3, 3, 3]], dtype=int64)

In [37]:
def print_solution():
    
    for n in range(n_nurses):
        sched = []
        for d in range(n_days):
            sched.append(s_list[solution[n,d]])
            
    
        print(sched, get_nurse_minutes(n))
        
    for s in s_list:
        cover = []
        for d in range(n_days):
            sum_d_cover = 0
            for n in range(n_nurses):
                if solution[n,d] == s_list.index(s):
                    sum_d_cover += 1
            cover.append(sum_d_cover)
   
    print(cover)

print_solution()

['D', 'D', 'E', '-', 'E', 'D', 'D', '-', '-', 'E', 'D', '-', '-', 'D'] 4320
['E', 'E', 'D', 'L', 'L', '-', '-', 'L', 'D', 'E', '-', '-', '-', 'E'] 4320
['-', 'L', 'D', '-', 'D', 'E', 'E', 'L', 'D', 'D', '-', '-', 'D', '-'] 4320
['-', 'L', 'L', 'E', '-', 'E', '-', 'E', '-', 'E', 'L', 'L', '-', 'L'] 4320
['-', '-', 'E', '-', '-', 'E', 'E', 'E', '-', '-', 'E', 'E', 'E', '-'] 3360
['-', 'E', 'D', 'E', 'D', 'D', 'D', 'D', '-', 'D', '-', '-', 'D', '-'] 4320
['L', '-', 'D', '-', 'D', 'D', 'L', '-', '-', 'L', '-', 'D', 'D', 'E'] 4320
['-', '-', '-', 'D', 'L', 'L', 'E', 'D', 'D', 'D', '-', 'E', 'D', '-'] 4320
['L', 'E', '-', 'E', '-', 'E', 'D', 'D', 'D', '-', '-', '-', 'L', 'L'] 4320
['D', '-', '-', 'D', '-', 'D', 'E', 'D', 'E', '-', '-', 'D', 'D', 'D'] 4320
['-', '-', '-', 'D', '-', '-', 'E', 'D', 'E', 'E', 'D', 'D', 'D', 'D'] 4320
['-', 'D', 'L', 'D', 'D', 'D', 'L', '-', '-', 'L', 'D', 'L', '-', '-'] 4320
['L', 'D', 'L', 'E', 'D', '-', 'D', '-', '-', '-', 'D', '-', 'L', 'L'] 4320
['-', 'D', '-', '-', 'L', 'L', 'D', 'L', '-', 'D', '-', 'L', 'L', '-'] 3840
['D', 'L', 'D', 'L', 'L', '-', 'L', 'D', '-', 'L', '-', '-', '-', 'D'] 4320
['-', '-', 'E', 'D', '-', '-', '-', '-', '-', 'L', '-', 'L', '-', '-'] 1920
['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'L', '-', 'L', 'D'] 1440
['-', '-', '-', '-', '-', '-', '-', '-', '-', 'D', 'D', '-', 'E', 'E'] 1920
['-', '-', '-', '-', '-', '-', 'E', 'E', 'E', '-', 'E', '-', '-', '-'] 1920
['E', '-', '-', '-', 'E', 'D', '-', 'E', '-', '-', '-', '-', '-', '-'] 1920
[12, 10, 9, 9, 9, 8, 6, 7, 13, 7, 11, 11, 8, 9]

In [33]:
text = '4'
x = f'{text: >3}'
print(x*5)

  4  4  4  4  4